/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

/******************************************
/* LAYOUT
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.center-horizontal{
  display: flex;
  justify-content: center;
  text-align: center;
}

.center-vertical{
  display: flex;
  align-items: center;
}

.center-justified{
  text-align: justify;
  margin: 0 auto;
}


.box{
  border-radius: 0;
  box-shadow: none;
}

.box:hover{
  background-color: lightgrey;
}

.box-black{
  border: .3rem solid black;
}

.box-blue{
  border: .3rem solid blue;
}

.all-page-text{
  max-width: 60%;
  margin: auto;
  margin-bottom: 1rem;
}

.footer {
  padding-bottom: 2rem;
  background-color: white;
}
/* navbar */

.all-page-navbar{
  max-width: 80%;
  margin: auto;
}

.navbar-burger{
  height: 8.25rem;
  width: 8.25rem;
}

.navbar-burger span{
  height:2.2px;
  width: 21px;
}

/*  */


/* Landing page */

.landing-page-hero{
  padding-bottom: 3rem;
}

.landing-page-hero-body{
  padding-top: 1rem;
}

.landing-page-logo{
  max-width: 480px;
}

.landing-page-text{
  max-width: 480px;
}

.landing-page-menu{
  max-width: 90%;
  margin: auto;
  letter-spacing: .2rem;
  text-align: center;
}
/*  */

/* MANIFESTO */

.manifesto-page-logo{
  max-width: 240px;
}

.manifesto-page-hero-footer{
  max-width: 90%;
  margin: auto;
  letter-spacing: .2rem;
  text-align: center;
}

.sign-up-form{
    max-width: 60%;
    margin: auto;
}

.input{
  width: 360px;
}

/*  */

/* directory */

/*  MODAL */


.modal{
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-content{
  margin: auto;
  margin-top: 2rem;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}
/*  */

/* Accordion Menu */
.cd-accordion-menu {
  margin: 4em auto;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after {
  background-image: url(../img/cd-icons.svg);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0;
}
.cd-accordion-menu a::after {
  /* image icon */
  left: 36px;
  background: url(../img/cd-icons.svg) no-repeat -48px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}

.cd-accordion-menu ul ul label::before {
  left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label::before {
    left: 24px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label::before {
    left: 48px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.accordion-group-heading{
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.accordion-group-heading:hover{
  background-color: #dbdbdb
}

.accordion-group-heading > li:hover{
  background-color: white;
}


.accordion-subgroup-heading{
  font-size: 1.25rem;
  margin: .5rem;
}

.accordion-subgroup-text{
  font-size: 1rem;
  margin-left: 2rem;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 1023px) {

  .navbar{
    max-width: 80%;
  }

  .all-page-text{
    max-width: 80%;
  }

  .sign-up-form{
      max-width: 80%;
      margin: auto;
      margin-bottom: 1rem;
  }
}

@media all and (max-width: 768px) {
  .landing-page-logo{
    max-width: 240px;
  }

  .navbar{
    max-width: 100%;
  }

  .all-page-text{
    max-width: 95%;
  }

  .sign-up-form{
      max-width: 95%;
      margin: auto;
      margin-bottom: 1rem;
  }
}
