/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

/******************************************
/* LAYOUT
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.center-horizontal{
  display: flex;
  justify-content: center;
  text-align: center;
}

.center-vertical{
  display: flex;
  align-items: center;
}

.center-justified{
  text-align: justify;
  margin: 0 auto;
}


.box{
  border-radius: 0;
  box-shadow: none;
}

.box:hover{
  background-color: lightgrey;
}

.box-black{
  border: .3rem solid black;
}

.box-blue{
  border: .3rem solid blue;
}

.all-page-text{
  max-width: 60%;
  margin: auto;
  margin-bottom: 1rem;
}

.footer {
  padding-bottom: 2rem;
  background-color: white;
}
/* navbar */

.all-page-navbar{
  max-width: 80%;
  margin: auto;
}

.navbar-burger{
  height: 8.25rem;
  width: 8.25rem;
}

.navbar-burger span{
  height:2.2px;
  width: 21px;
}

/*  */


/* Landing page */

.landing-page-hero{
  padding-bottom: 3rem;
}

.landing-page-hero-body{
  padding-top: 1rem;
}

.landing-page-logo{
  max-width: 480px;
}

.landing-page-text{
  max-width: 480px;
}

.landing-page-menu{
  max-width: 90%;
  margin: auto;
  letter-spacing: .2rem;
  text-align: center;
}
/*  */

/* MANIFESTO */

.manifesto-page-logo{
  max-width: 240px;
}

.manifesto-page-hero-footer{
  max-width: 90%;
  margin: auto;
  letter-spacing: .2rem;
  text-align: center;
}

.sign-up-form{
    max-width: 60%;
    margin: auto;
}

.input{
  width: 360px;
}

/*  */

/* directory */

/*  MODAL */


.modal{
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-content{
  margin: auto;
  margin-top: 2rem;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}
/*  */

/* Accordion Menu */

.message-header{
  font-weight: 400;
}

.accordion-heading-text{
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.accordion-subheading-text{
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-bottom: .25rem
}

.accordion-content-text{
  margin-left: 1rem;
  padding:1rem;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 1023px) {

  .navbar{
    max-width: 80%;
  }

  .all-page-text{
    max-width: 80%;
  }

  .sign-up-form{
      max-width: 80%;
      margin: auto;
      margin-bottom: 1rem;
  }
}

@media all and (max-width: 768px) {
  .landing-page-logo{
    max-width: 240px;
  }

  .navbar{
    max-width: 100%;
  }

  .all-page-text{
    max-width: 95%;
  }

  .sign-up-form{
      max-width: 95%;
      margin: auto;
      margin-bottom: 1rem;
  }
}
