/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

/******************************************
/* LAYOUT
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.center-horizontal{
  display: flex;
  justify-content: center;
}

.center-vertical{
  display: flex;
  align-items: center;
}

.center-justified{
  text-align: justify;
  margin: 0 auto;
}


.box{
  border-radius: 0;
  box-shadow: none;
}

.box:hover{
  background-color: lightgrey;
}

.box-black{
  border: .3rem solid black;
}

.box-blue{
  border: .3rem solid blue;
}

.all-page-navbar{
  max-width: 80%;
  margin: auto;
}

.all-page-text{
  max-width: 50%;
  margin: auto;
  text-align: justify;
  margin-bottom: 1rem;
}

.footer {
  padding-bottom: 2rem;
}
/* navbar */

.navbar-burger{
  height: 8.25rem;
  width: 8.25rem;
}

.navbar-burger span{
  height:2.2px;
  width: 21px;
}

/*  */


/* Landing page */

.landing-page-hero{
  padding-bottom: 3rem;
}

.landing-page-hero-body{
  padding-top: 1rem;
}

.landing-page-logo{
  max-width: 480px;
}

.landing-page-text{
  max-width: 480px;
}

.landing-page-menu{
  max-width: 90%;
  margin: auto;
  letter-spacing: .2rem;
  text-align: center;
}
/*  */

/* MANIFESTO */

.manifesto-page-logo{
  max-width: 240px;
}

.manifesto-page-hero-footer{
  max-width: 90%;
  margin: auto;
  letter-spacing: .2rem;
  text-align: center;
}

.sign-up-form{
    max-width: 50%;
    margin: auto;
}

.input{
  width: 360px;
}

/*  */

/* directory */

/*  MODAL */


.modal{
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-content{
  margin: auto;
  margin-top: 2rem;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}
/*  */

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


@media all and (max-width: 768px) {
  .landing-page-logo{
    max-width: 240px;
  }

  .navbar{
    max-width: 100%;
  }

  .all-page-text{
    max-width: 90%;
  }

  .sign-up-form{
      max-width: 90%;
      margin: auto;
      margin-bottom: 1rem;
  }
}
